---
---

@import "{{ site.theme }}";

.catalog {
  li {
    list-style: none;
  }
}

li:not(:has(ul)):hover {
  background: #eee;
}

.project-name {
  text-transform: capitalize;
}

html {
  font-size: 16px;

  .toast-success {
    background-color: #030303;
  }

  body {

    em {
      margin-right: 3px;
      cursor: pointer;
      font-family: cursive, serif;
      transition: .1s;
      // font-style: normal;
      // display: inline-block;
      // transform: skewX(-10deg);
      // transform-origin: left bottom;
      &:hover, &.hover {
        // transform: skewX(0deg);
        border-bottom: solid;
        font-weight: 900;
      }
    }

    b, strong {
      cursor: pointer;
    }

    a {
      color: #006bff;
      transition: all 0.3s;
      text-decoration: none;
      font-family: Adobe KaiTi Std, cursive, serif;

      &:hover, &.hover {
        &:not(.btn) {
          text-decoration: none;
          border-radius: 0.1875em;
          background: #006bff;
          color: white;
          padding: 0 4px;
        }
      }
    }

    li {
      border-radius: 4px;
    }

    img {
      &[src*="#w50"] {
        width: 50%;
      }
      &[src*="#w100"] {
        width: 100%;
      }
      &[src*="#h100"] {
        height: 100px;
      }
      &[src*="#h200"] {
        height: 200px;
      }
      &[src*="#h300"] {
        height: 300px;
      }
    }

    table {
      word-break: break-word;
      margin: 1em 0;
    }

    .highlight:has(>pre) {
      position: relative;

      .fa-copy {
        position: absolute;
        right: .8em;
        top: 10px;
        color: white;
        cursor: pointer;
      }
    }

    .main-content {
      color: #383838;
      font-size: 1rem;
      line-height: 2em;

      p {
        margin: 1em 0;
      }

      blockquote {
        color: #8590a6;
        background-color: #f6f6f6;
        margin-left: 0;
        margin-right: 0;
        border: solid 1px #f5f5f5;
        padding: 10px 1em;
        border-left: 0.3rem solid #006bff;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: Adobe KaiTi Std, KaiTi, Kai, 楷体, PingFang SC, Microsoft YaHei;
        font-weight: bold;
        color: #006bff;
      }

      h1 {
        font-size: 2em;
      }

      h2 {
        font-size: 1.7em;
      }

      h3 {
        font-size: 1.55em;
      }

      h4 {
        font-size: 1.35em;
      }

      h5 {
        font-size: 1.2em;
      }

      h6 {
        font-size: 1em;
      }

      code {
        // border: solid 1px #eee;
        background: none;
        cursor: pointer;
        @at-root html code, & {
          color: #f93d93;
          // margin: 0 5px;
        }
      }

      pre {
        code {
          color: #f8f8f2;
          font-size: 0.9em;
          margin: 0;
          border: none;
          background: none;
          cursor: unset;
        }
        &.highlight, &:has(code) {
          border: none;
          padding: 10px 2.3em 10px 14px;
          border-radius: 4px;
          background-color: #282a36;
        }
      }
    }

    // https://github.com/rouge-ruby/rouge/blob/master/lib/rouge/token.rb
    // https://github.com/rouge-ruby/rouge/wiki/List-of-tokens
    .highlight {

      // Keyword
      .k {
        color: #ff79c6;
        font-weight: normal;

        // Declaration
        &d {
          color: #ff79c6;
          font-weight: normal;
        }

        // Variable
        &v {
          color: #ff79c6;
          font-weight: normal;
        }

        // Constant
        &c {
          color: #bd93f9;
        }

        // Namespace
        &n {}

        // Pseudo
        &p {}

        // Reserved
        &r {}

        // Type
        &t {
          color: #8be9fd;
          font-weight: normal;
        }
      }

      // Comment
      .c {
        color: #6272a4;

        // Single
        &1 {
          color: #6272a4;
        }

        // Hashbang
        &h {}

        // Doc
        &d {}

        // Multiline
        &m {}

        // Preproc
        &p {
          color: #ff79c6;
          font-weight: normal;
        }

        // PreprocFile
        &pf {}

        // Special
        &s {}
      }

      // Number
      .m {
        color: #bd93f9;

        // Bin
        &b {
          color: #bd93f9;
        }

        // Integer
        &i {
          color: #bd93f9;
        }

        // Float
        &f {
          color: #bd93f9;
        }

        // Hex
        &h {
          color: #bd93f9;
        }

        // Oct
        &o {
          color: #bd93f9;
        }

        // Other
        &x {
          color: #bd93f9;
        }
      }

      // (Number) Long
      .il {}

      // Name
      .n {
        color: #f8f8f2;

        // Attribute
        &a {
          color: #8be9fd;
        }

        // Builtin
        &b {
          color: #bd93f9;
        }

        // Class
        &c {
          color: #50fa7b;
          font-weight: normal;
        }

        // Constant
        &o {}

        // Entity
        &i {}

        // Exception
        &e {}

        // decorator
        &d {
          color: #50fa7b;
          font-weight: normal;
        }

        // Function
        &f {
          color: #50fa7b;
          font-weight: normal;
        }

        // Label
        &l {
          color: #8be9fd;
          font-weight: normal;
        }

        // Namespace
        &n {
          color: #8be9fd;
          font-weight: normal;
        }

        // Tag
        &t {
          color: #FFFF7F;
        }

        // Variable
        &v {
          color: #f8f8f2;
        }

        // Other
        &x {
          color: #8be9fd;
        }
      }

      // (Name Builtin) Pseudo
      .bp {}

      // (Name Function) Magic
      .fm {}

      // (Name) Property
      .py {
        color: #8be9fd;
      }

      // (Name Variable)
      .v {

        // Class
        &c {}

        // Global
        &g {}

        // Instance
        &i {}

        // Magic
        &m {}
      }

      // Generic
      .g {

        // Deleted
        &d {}

        // Emph
        &e {}

        // Error
        &r {}

        // Heading
        &h {}

        // Inserted
        &i {}

        // Output
        &o {}

        // Prompt
        &p {}

        // Strong
        &s {}

        // Subheading
        &u {}

        // Traceback
        &t {}

        // Lineno
        &l {}
      }


      // Operator
      .o {
        color: #ff79c6;

        // Word
        &w {}
      }

      // Punctuation
      .p {
        color: #f8f8f2;

        // Indicator
        &i {}
      }

      // String
      .s {
        color: #f1fa8c;

        // Single
        &1 {
          color: #f1fa8c;
        }

        // Double
        &2 {
          color: #f1fa8c;
        }

        // Char
        &c {
          color: #f1fa8c;
        }

        // Regex
        &r {
          color: #8be9fd;
        }

        // Affix
        &a {}

        // Backtick
        &b {}

        // Doc
        &d {}

        // Escape
        &e {}

        // Heredoc
        &h {}

        // Interpol
        &i {}

        // Other
        &x {}

        // Symbol
        &s {}
      }

      .d {

        // Delimiter
        &l {}
      }

      // Escape
      .esc {}

      // Error
      .err {}

      // Other
      .x {}

      // Whitespace
      .w {}


    }
  }
}
